<span class="jumbotron text-center"><h1 class="jumbotron-heading">The *Official* NHF Store</h1></span>

<%if @products.count > 1 %>
<p class = "alert alert-info">There are <%= @products.count %> products!</p>
<%else%>
<p class = "alert alert-info">There is <%= @products.count %> product!</p>
<%end%>

<p class = "alert alert-danger">The first product costs only $<%= @products.first.price %></p>

<ul class="list-group">
        <% @products.each do |product, index| %>
            <li class="list-group-item">
                <%= link_to product.name, product, class: "list-group-item-action"%>
            <li>
        <% end %>
</ul>

<%= link_to "Add a Product", new_product_path, class: "btn btn-outline-primary"%>